cmake-build-debug
cmake-build-release
cmake_install.cmake
bin_asm_cpp
CMakeCache.txt
Makefile
.idea/
CMakeFiles/
build/
.vs/
lib/*
CMakeScripts/
asm_cpp.xcodeproj/
lib_dev/CMakeScripts/
lib_dev/sub_project.xcodeproj/
asm_cpp.build/
lib_dev/asm_cpp.build/